<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/list.css">
    <title>account list</title>
</head>
<body>
    <div class="content">
        <div class="header">
            <h2 class="title">记账本</h2>
            <a href="/account/create" class="create">添加记录</a>
        </div>
        <hr />
        <p>
            <% accounts.forEach((item) => { %>
                <div class="common <%= item.type == 1 ? 'income' : 'pay' %>">
                    <div class="date"><%= moment(item.time).format('YYYY-MM-DD') %></div>
                    <div class="description">
                        <span class="action"><%= item.title %></span>
                        <span class="type">
                            <span><%= item.type == 1 ? '收入' : '支出' %></span>
                        </span>
                        <span class="amount"><%= item.account %>元</span>
                        <a href="/account/<%= item.id %>"><button class="close">X</button></a>
                    </div>
                </div>                
            <% }) %>
        </p>
    </div>

    <script>
        let deleteBtns = document.querySelectorAll('a > .close');
        if(deleteBtns.length) {
            deleteBtns.forEach(btn => {
                btn.addEventListener('click', function(e) {
                    if(confirm('您确定要删除该文档吗？')) {
                        return true;
                    } else {
                        e.preventDefault();
                    }
                });
            });
        }
    </script>
    
</body>
</html>